body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 150px 415px;
}
header {
  position: fixed;
  top: 0;
  background-color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.accent {
  color: royalblue;
  font-weight: bold;
}
.topic {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}
#icon {
  width: 30px;
  height: 30px;
  margin-left: 370px;
}
p {
  margin: 35px 0;
  font-size: 18px;
  line-height: 1.75;
}
.code-snippet {
  background-color: #f4f4f4;
  padding: 19px;
}
.code-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin: 20px 0;
}
